#/bin/sh
export PATH=$HOME/.local/bin:$PATH

#MPI
export PATH="$PATH:/home/$USER/.openmpi/bin"
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/home/$USER/.openmpi/lib/"

#Cargar configuracion de teclado españa
setxkbmap es &

#Cargar monitor principal en casa, es una porqueria pero como no da error...
 sh .screenlayout/PrincipalCasa.sh

#Iconos del sistema
udiskie -t &

nm-applet &

volumeicon &

cbatticon -u 5 &

picom &

feh --bg-fill /home/marcosdiario/.config/qtile/fondos/fondo2.jpg &

#Wifi Uni
wpa_supplicant -B -i wlp1s0 -c /etc/wpa_supplicant/wpa_supplican_eduroam.conf
